* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 20px;
  padding: 40px;
}

.project {
  background-color: #f4f4f4;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.project-info {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button {
  align-self: flex-start;
  padding: 10px 20px;
  border: none;
  color: goldenrod;
  border-radius: 5px;
  cursor: pointer;
}

.project:hover {
  background-color: #f4f4;
  transition: 0.8 ease-in-out;
  transform: scale(1.03);
}
